body{
    background-color: #EBEBEE;
}
#my-nav {
    color: white;
    background-color: #4267B2;
}
#my-nav a{
    color: white;
}
.searchbox{
    min-width: 400px;
}
.wrapper section{
    height: 883px;
}
.post-section, .ads{
    height: 700px;
    overflow: scroll;
}
.post-section::-webkit-scrollbar {
    display: none;
}
.footer{
    height: 42px;
    background-color: #0f0f0f;
}
#nav span{
    color: #0D1325;
}
.shortcuts-dp{
    margin: 0 6px 0 0;
    height: 20px;
    width: 20px;
}
.dp {
    border-radius: 50%;
    margin: 0 6px 0 0;
}
.list-heading{
    margin: 0 auto;
    padding: 14px 0 4px 0;
    font-size: 14px;
    font-weight: bold;
    color: #4B4F56;
}
.navfont > li > a {
    padding: 0;
    margin: auto;
    height: 30px;
    width: 186px;
    display: block;
    color: #1d2129;
    font-size: 15px;
}
#section-a{

    line-height: 25px;
    height: 619px;
    width: 180px;
    padding: 15px 0 0 0;
}
#section-a i{
    height: 20px;
    margin: 4px 6px 0 0;
    width: 20px;
    color: #0D1325;
    font-size: 20px;
}
.post-section, .ads{
    background-color: white;
    height: 800px;
}
.badge{
    background-color: #E9EBEE !important;
    color: grey !important;
}
.badge b{
    font-weight: 900;
}
.fa-calendar-o, .fa-newspaper-o{
    color: #996699 !important;
}
.glyphicon-list-alt{
    color: grey !important;
}
.fa-users, #gamesfeed-color, .fa-address-book-o, .fa-clock-o, .glyphicon-envelope, .fa-hand-o-right, .fa-comment{
    color: #5D92FF !important;
}
.fa-bookmark{
    color: #F45D72 !important;
}
.glyphicon-duplicate, .fa-file-text {
    color: #F8A058 !important;
}
.size{
    font-size: 13px !important;
}
.panel-body .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
}
.text-post {
    margin-bottom: 15px;
    margin-top: 0;
}
.image-post {
    margin-bottom: 15px;
}


